<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		
		<h1>멤버 목록</h1>
		<table class="table table-hover text-white">
			<thead>
			<tr>
				<th scope="col" class="bg-secondary text-center">번호</th>
				<th scope="col" class="bg-secondary text-center">아이디</th>
				<th scope="col" class="bg-secondary text-center">역할</th>
			</tr>
			</thead>
			<tbody>
				{{#list}}
					<tr>
						<td>{{memberNo}}</td>
						<td>{{memberId}}</td>
						<td>{{memberRole}}</td>
					</tr>
				{{/list}}
			</tbody>
		</table>
		<div>
			{{loginMember.memberId}}님 반갑습니다.
			<a href="/member/logout">로그아웃</a>
			<a href="/member/modifyMemberPw">비밀번호 수정</a>
			<a href="/member/removeMember">회원탈퇴</a>
		</div>
	
	<!--  pw를 제외한 멤버 목록 출력 -->
	
	<!-- include -->
{{>layouts/footer}}
</body>
</html>